<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>636683774243-clmjs2hmvn57qm6gsbt0qvbk4ih1ui64.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.636683774243-clmjs2hmvn57qm6gsbt0qvbk4ih1ui64</string>
	<key>API_KEY</key>
	<string>AIzaSyCiFhUimDCj9ruMOtKVoAu7Fl3lZpZCNBc</string>
	<key>GCM_SENDER_ID</key>
	<string>636683774243</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cafeapp</string>
	<key>PROJECT_ID</key>
	<string>fir-c129d</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-c129d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:636683774243:ios:ff133b142a0f23182d4496</string>
</dict>
</plist>